P "CDS_LMAN_SYM_OUTLINE" "-25,75,25,-75" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -10 -41 -10 40 -1 0
L -10 -20 10 -20 -1 0
L 10 20 -10 20 -1 0
L 10 -20 10 20 -1 0
L -34 25 -10 25 -1 0
L -25 -25 -10 -25 -1 0
P "$LOCATION" "?" 14 85 0 0 29 0 0 1 0 0 1 0 0
P "VALUE" "?" 14 -105 0 0 29 0 0 1 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "JEDEC_TYPE" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "MAXINV" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
P "PATH" "?" 0 0 0 0 29 0 0 0 0 0 0 0 0
L -75 25 -35 25 -1 0
C -75 25 "P1" -100 25 0 1 29 0 R
L 50 0 10 0 -1 0
C 50 0 "P2" 75 0 0 1 29 0 L
L -75 -25 -25 -25 -1 0
C -75 -25 "P3" -100 -25 0 1 32 0 R


