P "CDS_LMAN_SYM_OUTLINE" "-150,125,150,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -150 125 -150 -125 -1 0
L -150 125 150 125 -1 0
L 150 125 150 -125 -1 0
L -150 -125 150 -125 -1 0
L -150 0 -50 0 -1 0
L 150 0 50 0 -1 0
L -25 50 -25 -50 -1 0
L -25 50 25 50 -1 0
L -25 -50 25 -50 -1 0
L 25 50 25 -50 -1 0
L -50 50 -50 -50 -1 0
L 50 50 50 -50 -1 0
P "$LOCATION" "?" 75 225 0 0 32 0 0 0 0 0 1 0 0
P "VALUE" "?" 75 175 0 0 32 0 0 0 0 0 1 0 0
P "PACK_TYPE" "?" 0 0 0 0 32 0 0 0 0 0 0 0 32
P "JEDEC_TYPE" "?" 0 0 0 0 32 0 0 0 0 0 0 0 32
P "MAXINV" "?" 0 0 0 0 32 0 0 0 0 0 0 0 32
P "PATH" "?" 0 0 0 0 32 0 0 0 0 0 0 0 32
L 0 -175 0 -125 -1 0
C 0 -175 "GND" 0 -225 0 1 32 0 C
X "PIN_TEXT" "GND" 0 -115 0 0 32 0 0 1 0 0 1 0 0
L 200 0 150 0 -1 0
C 200 0 "OUT" 225 0 0 1 32 0 L
X "PIN_TEXT" "OUT" 149 10 0 0 32 0 0 2 0 0 1 0 0
L 0 175 0 125 -1 0
C 0 175 "VCC" 0 200 0 1 32 0 C
X "PIN_TEXT" "VCC" 0 90 0 0 32 0 0 1 0 0 1 0 0
L -200 0 -150 0 -1 0
C -200 0 "VIO" -225 0 0 1 32 0 R
X "PIN_TEXT" "VIO" -140 10 0 0 32 0 0 0 0 0 1 0 0


